rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /orders/{orderId} {

      allow read: if request.auth != null &&
                   request.auth.token.email.matches(".*@snu\\.edu\\.in$");

      allow create: if request.auth != null &&
                     request.auth.token.email.matches(".*@snu\\.edu\\.in$");

      allow update, delete:
        if request.auth != null &&
           resource.data.posterId == request.auth.uid;

      match /joins/{joinerId} {
        allow create: if request.auth != null &&
                       request.auth.token.email.matches(".*@snu\\.edu\\.in$") &&
                       request.auth.uid == joinerId;

        allow read: if request.auth != null &&
                     request.auth.token.email.matches(".*@snu\\.edu\\.in$") &&
                     (request.auth.uid == joinerId ||
                      get(/databases/$(database)/documents/orders/$(orderId)).data.posterId == request.auth.uid);
      }
    }
  }
}